.navbar-icon-hover{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #e6e3e6;
    @include center-flex;
    &:hover{
        background-color: $tertiary-color;
    }
}

.primary__btn{
    padding: .6rem 1.8rem;
    background-color: $secondary-color;
    color: white;
    font-size: 1.4rem;
    border: none;
    border-radius: .8rem;
    transition: .5s;
    &:hover{
        background-color: $primary-color;
        padding: .6rem 2rem; 
    }
}