.cart__item__main__container{
    display: flex;
    position: relative;
    & .cart__item__container{
        width: 70%;
        & .cart__item__details{
            width: 80%;
            margin: auto;
            & h1{
                color: $secondary-color;
                text-align: center;
                margin-top: 1.9rem;
            }
            & .cart__item__table__header{
                width: 100%;
                display: flex;
                font-size: 1.5rem;
                color: $tertiary-color;
                margin-bottom: 3rem;
            }
            & .cart__item{
                width: 100%;
                display: flex;
                & img{
                    width: 8rem;
                    height: 8rem;
                    object-fit: cover;
                }
            }
        }
    }
    & .cart__item__checkout__container{
        width: 30%;
        height: 100%;
        position: fixed;
        top: 10%;
        right: 0;
        background-color: #F0EEF0;
        & .cart__checkout__container{
            margin: auto;
            width: 70%;
            & h1{
                color: $secondary-color;
                text-align: center;
                margin-top: 2rem;
            }
            & label{
                font-size: 1.5rem;
                color: $secondary-color;
            }
            & input{
                font-size: 1.6rem;
                margin-top: .2rem;
            }
            & textarea{
                font-size: 1.4rem;
                margin-top: .2rem;
            }
            & .cart__total__price{
                background-color: white;
                display: flex;
                justify-content: space-between;
                font-size: 1.6rem;
                color: $secondary-color;
                font-weight: 700;
                padding: 1rem;
                margin-top: 2rem;
            }
        }
    }
}