.sidebar__main__container {
  & .sidebar__container {
      position: relative;
    & .sidebar {
      width: 25%;
      height: calc(100vh - 65px);
      background-color: #f3f3f3;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: center;
      & .sidebar__nav{
          position: relative;
          margin-top: 5rem;
          & a{
              color: gray;
              text-decoration: none;
              display: flex;
            align-items: center;
              font-size: 1.5rem;
              font-weight: 100;
              z-index: 111;
              &:not(:last-child){
                  margin-bottom: 2rem;
              }
              & svg{
                  margin-right: 1rem;
              }
          }
          & .sidebar__nav__last__child{
              position: absolute;
              bottom: 8rem;
              left: 0;
          }
      }
    }
    & .sidebar__dashboard__routing{
        width: calc(100% - 25%);
        margin-left: auto;
    }
  }
}