.dishes__card__container {
    width: 100%;
    padding: .5rem;
    position: relative;

    & .dishes__card__eye__icon {
        position: absolute;
        top: 2%;
        right: 3%;
        transition: .5s;

        &:hover {
            background-color: $primary-color !important;

            & svg {
                color: white !important;
            }
        }

        & svg {
            font-size: 1.4rem;
            color: $secondary-color;
        }
    }


    & .dishes__card__review__container {
        margin: .8rem 0;

        & svg {
            font-size: 1.2rem;
            color: $primary-color;
        }
    }

    & h5 {
        color: $secondary-color;
        font-size: 2.2rem;
    }

    & .dishes__card__paragraph {
        font-size: 1.5rem;
        color: $tertiary-color;
    }

    & .dishes__card__price__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & h5 {
            color: $primary-color;
            font-size: 2rem;
        }
    }
}