.footer__main__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    @include respond(tablet){
        flex-direction: column;
    }

    & .footer__content__container {
        display: flex;
        flex-direction: column;
        @include respond(tablet){
            margin-top: 2.5rem;
            margin-left: 5rem;
        }

        & h3 {
            font-size: 2.2rem;
            color: $secondary-color;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }

        & a {
            font-size: 1.6rem;
            color: $tertiary-color;
            text-transform: capitalize;
            text-decoration: none;

            &:not(:last-child) {
                margin-bottom: .8rem;
            }
        }
    }
}

.footer__credit {
    background-color: #F0EEF0;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 0;
    font-size: 1.6rem;

    & span {
        color: $primary-color;
    }
}