.order__list__container {
    width: 98%;
    margin: 5rem auto;
    & th {
      font-size: 1.5rem;
    }
    & td {
      font-size: 1.4rem;
      & select {
          border:0px;
          outline:0px;
       }
    }
  }